* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 500px;
	height: 850px;
	border: solid 1px #0033FF;
	line-height: 1.5;
}
.row {
	width: 500px;
	display: block;
	padding-bottom: 20px;	
}
.title-player {
	
	background-image: url('image/title_bg.gif');
	background-repeat: repeat-x;
	background-position:bottom;
	font-weight: bold;
	height: 25px;
	width: 100%;
}
.player-img {
	width: 90px;
	height: 100px;
	float: left;
}
.player-text {
	padding-left: 20px;
	float: left;
	height: 100px;
	width: 70%;
	font-size: 14px;
	overflow: scroll;
}
.title-facts {
	font-weight: bold;
	padding-top: 110px;
}
ul {
	list-style: none;
	padding-bottom: 20px;
}
li {
	margin-left: 20px;
	padding-left: 30px;
	background-image: url('image/star.gif');
	background-repeat: no-repeat;
	line-height: 2;
}
.comment-text {
	background: #ECECEC;
}
.comment-post {
	text-align: center;
	background-image: url('image/comment_bt.gif');
	background-repeat: no-repeat;
}
a {
	color: blue;
}
.comment-form {
	width: 100%;
	padding: 20px 5px 0;
}
.comment-form .comment-form-title {
	font-weight: bold; 	
	text-align: center;
	font-size: 16pt;
}
.comment-form .lbl {
	width: 25%;
	float: left;
	padding: 0px 5px;
}
.input {
	height: 10px;
}
.input1 {
	height: 38px;
}