/*@media screen call responsive*/
@media screen and (max-width: 768px) {
#header,
#banner {
	float:none;
}
.show-pc { display: none !important; }
.show-sp { display: block !important; }
.inner,
.header_left {
	height:auto;
	margin:0 auto;
	padding:0 2%;
	text-align:center;
	width:94%;
	min-width:0;
}
#index {
	width:98%;
	top: 240px;
}
#banner img {
	margin:0 auto;
	text-align:center;
	width:96%;
	min-width:0;
}
#index {
	position: absolute;
	top: 120px;
}
.login {
	width: 98%;
	background: #f1f1f1;
	padding-top: 130px;
	float: none;
}
.button_1 {
	margin: 0 auto;
}
.menu_reveal {
	left:0;
}
#header p {
	font-weight:bold;
	margin-top:-40px;
}
#header ul {
	display:none;
}
#mid {
	float:none;
}
#mid .mid_left {
	width:100%;
	float:none;
	margin:0px auto;
}
#mid .box_1 {
	width: 46.7%;
	display:inline-block;
	margin:5px 10px 5px 0px;
}
.mr_sp {
	margin-right: 0px !important;
}
.title_1 {
	margin-top: 17px;
}
.img_box {
	width: 96%;
	height: auto;
}
.read_more img {
	float:right;
}
.box_3 {
	width:100%;
	margin:7px auto;
}
.box_3 p strong,
.box_3 p strong a {
	font-size: 0.78rem;
	width:100%;
	height:auto;
	text-align:left;
	float: left;
}
#mid .mid_right {
	float:none;
	margin: 0px auto;
}
#footer { 
	margin-top:50px;
}
#copyright {
	width: 100%;
	color:#fff;
	background:#000;
}
}
