@media print {
  	html, body {
    	display: none; 
  	}
}
* {
	border:0;
	margin:0px;
	padding:0px;
}
body {
	-webkit-text-size-adjust:100%
	color: #242424;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size:1rem;
	background:#fff;
}
a {
	text-decoration:none;
	color:#000;
}
ul {
	list-style:none;
}
strong {
	font-weight: normal;
}
.img_sp {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.ClearFix::after{
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
.fLeft {
	float:left;
}
.fRight {
	float:right;
}
.mb20 { margin-bottom:20px !important; }
.mb10 { margin-bottom:10px !important; }
.mb5 { margin-bottom:5px !important; }
.mb15 { margin-bottom:15px !important; }
.pb10 { padding-bottom:10px !important; }
.pb5 { padding-bottom:5px !important; }
.mr20 { margin-right:20px !important; }
.mr10 { margin-right:10px !important; }
.ml10 { margin-left:10px !important; }
.mt20 { margin-top:20px !important; }
.mt10 { margin-top:10px !important; }
.mt8 { margin-top:8px !important; }
.mt11 { margin-top:11px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.txt_pink { color:#ff5783 !important; }
.show-pc { display: block !important; }
.show-sp { display: none !important; }
.txt_center { text-align: center !important; }
/*header*/
#header {
	width: 100%;
	min-width: 1200px;
}
#header p {
	margin-right: 10px;
	float:right;
}
/*menu*/
.menu_reveal {
	position: absolute;
	float: left;
	left: 10px;
	background:#000;
	width: 25px;
	height: 30px;
	padding: 15px 17px;
	cursor: pointer;
	color: #fff;
}
.menu_reveal span {
	display: block;
	background: #fff;
	height: 2px;
	margin: 3px 0px 8px 0px;
}
.menu_close {
	position: absolute;
	display: none;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}
#menu ul.subMenu {
	margin-top: 12px;
	display: none;
	padding: 47px 20px 20px 20px;
	background:none repeat scroll 0 0 #000000;
	height:auto;
	position:absolute;
	width:240px;
	z-index: 999;
	left: 0px;
}
#menu ul.subMenu li.subMenu {
	margin: 0px;
	width:100%;
	height:21px;
	background:none;
	text-align:left;
	padding:20px 0px 15px 0px;
}
#menu ul li a {
	color: #ffffff;
}
#menu ul.subMenu li.subMenu a {
	text-decoration:none;
	width:100%;
	height:21px;
}
.menu_line {
	border-bottom: #ffffff solid 2px;
}
.menu_login {
	margin: 0px auto;
	text-align: center;
	border: #ff5783 2px solid;
	padding: 10px 50px;
}
.menu_regist {
	border: #ffffff 2px solid;
}
/*menu*/
.bd_bottom {
	border-bottom:1px #bdbdbd solid;
}
.inner {
	width:100%;
	height:auto;
	margin:0 auto;
	min-width:1200px;
	max-width:1200px;
	position:relative;
}
.header_left {
	float:left;
}
#header .inner ul {
	color: #000000;
	margin:10px 0px 10px 0px;
	text-align:right;
	float:right; 
}
#header .inner ul li {
	margin-left:35px;
	float:left;
}
#header .inner ul li a:hover {
	color:#ff952f;
}
#header .inner ul li.li_1 {
	background:url(../images/icon_1.png) no-repeat left center;
	padding-left:23px;
}
#header .inner ul li.li_2 {
	background:url(../images/icon_2.png) no-repeat left center;
	padding-left:20px;
}
#header .inner ul li.li_3 {
	background:url(../images/icon_3.png) no-repeat left center;
	padding-left:20px;
}
#header .inner ul li.li_4 {
	background:url(../images/icon_4.png) no-repeat left center;
	padding-left:21px;
}
#header .inner ul li.li_1:hover {
	background:url(../images/icon_1_hover.png) no-repeat left center;
}
#header .inner ul li.li_2:hover {
	background:url(../images/icon_2_hover.png) no-repeat left center;
}
#header .inner ul li.li_3:hover {
	background:url(../images/icon_3_hover.png) no-repeat left center;
}
#header .inner ul li.li_4:hover {
	background:url(../images/icon_4_hover.png) no-repeat left center;
}
/*banner*/
#banner {
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
}
#slide {
	max-width: 880px;
	float: left;
	height: auto;
	margin: 0 auto;
}
#slide img {
	position:absolute;
}
#index {
	width: 100%;
	max-width: 880px;
	position: absolute;
	top: 310px;
	height: 30px;
	margin:0 auto;
}
#index ul {
	margin-bottom:10px;
	max-width:125px;
	margin:0 auto;
}
#index input {
	float: left;
	margin-right:10px;
	height: 15px;
	padding:0px 7.5px;
	border-radius:20px;
	background: #c7c7c7;
}
#index input:hover {
	font-size: 28px;
}
#index input.active-index {
	background: #ff5783;
}
.login {
	margin: 0 auto;
	max-width: 300px;
	height: auto;
	float: right;
}
.login input {
	padding-left: 10px;
	background: #ffffff;
	border: #bdbdbd 1px solid;
	height: 30px;
	width: 96%;
	border-radius: 0px;
}
.button_1 {
	margin: 0 auto;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	background: #ff5783;
	width: 176px;
}
.button_2 {
	background: #000000;
}
/*banner*/
/*content mid*/
#mid {
	width:100%;
	margin:-15px auto 0px auto;
	height:auto;
	position:relative;
	display:block;
}
/*content mid left*/
.mid_left {
	float: left;
	width:100%;
	height:auto;
	margin:0 auto;
	max-width:880px;
}
.title_1 {
	width: 100%;
	display: table;
	font-size: 1.1rem;
	padding-bottom: 5px;
	background: url(../images/line_pink.png) repeat-x left bottom;
}
.title_1 span {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}
.title_1 span:first-child {
	background: url(../images/arrow_pink.png) no-repeat left center;
	width: 10px;
	height: 10px;
	padding: 0px 8px;
}
.img_new {
	width: 25%;
	position:absolute;
	left:-1px;
	top:-1px;
}
#mid .box_1 {
	text-align: left;
	position:relative;
	background-color:#ffffff;
	width:22.7%;
	height:auto;
	/*padding:5px 5px 0px 5px;*/
	padding: 1px;
	border:1px solid #bdbdbd;
	float:left;
	vertical-align:top;
	margin-right: 20px;
}

.fz08rem {
	font-size: 0.8rem;
}
#mid .box_1 p {
	margin-top:2px;
	height:auto;
}
.mlr10 {
	margin: 0px 10px 0px 10px !important;
}
.pr10 {
	padding-right: 10px;
}
.mg4 {
	margin: 4px 4px 0px 4px;
}
.img_box {
	padding: 2% 2% 0% 2%;
	width: 96%;
	height: auto;
}
.read_more {
	float: right;
	color: #ffffff;
	background: #000000;
	border-radius: 5px;
	padding: 5px 10px;
}
.line {
	background:url(../images/line_box.png) no-repeat left bottom;
}
.f200pt {
	font-size:1.5rem;
	text-align:right;
	border-bottom: 4px #dddddd solid;
}
#mid .box_1 a {
	margin-left:10px;
}
#mid .box_1 strong {
	color:#a3a3a3;
	font-size:0.7rem;
}
.box_3 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	background-color:#ffffff;
	width:47%;
	height:auto;
	float:left;
	vertical-align:top;
	border-bottom: #dddddd 1px solid;
}
.box_3 p {
	font-size: 1rem;
	margin-top: 6px;
	text-align:left;
	float:left;
	width: 66%;
}
.box_3 p strong {
	font-weight: normal;
}
.img_10 {
	float: left;
	margin-right: 10px;
	width: 100%;
	max-width: 120px;
}
.img_8 {
	margin:10px 5px 0px 0px;
	width: 100%;
	max-width: 128px;
}
/*content mid right*/
.mid_right {
	width:100%;
	height:auto;
	margin:30px auto 0px auto;
	max-width:300px;
	float:right;
}
.mid_right ul li.li_title {
	background:url(../images/line_aside.png) no-repeat left bottom;
}
.li_title span:first-child {
	background:url(../images/bullet_i.png) no-repeat left center;
}
.li_title_1 span:first-child {
	background:url(../images/bullet_ngang.png) no-repeat left center;
}
.bd_1 {
	text-align: left;
	padding-bottom: 1px;
	line-height: 1.5;
	margin-top: 7px;
    font-size: 0.8rem;
	border-bottom:#dddddd 1px solid;
}
.bd_1 strong {
	margin-bottom: 5px;
	display: block;
}
.mid_right ul li.li_menu {
	background: none;
	text-align:left;	
	padding:10px 0px 18px 0px;
	font-size: 1rem;
}
.li_menu span:first-child {
	background:url(../images/bullet.png) no-repeat left center;
}
.img:hover {
	opacity:0.6;
}
/*footer*/
#footer {
	width: 100%;
	min-width: 1200px;
	border-top:1px #bdbdbd solid;
	height:auto;
	display:block;
	margin-top:155px;
	padding-top:20px;
	position:relative;
}
#footer ul {
	text-align:left;
	margin:0 auto;
	max-width:660px;
}
#footer ul li {
	margin:0 auto;
	float:left;
}
#footer ul li a {
	padding:0px 15px;
	font-size: 0.9rem;
	text-align:left;
}
.bd_right {
	border-right:#666666 2px solid;
}
#footer ul li a:hover {
	text-decoration:underline;
}
/*page top*/
#page_top {
	display:block;
	width:100%;
	max-width:119px;
	min-width:119px;
	position:absolute;
	top:-70px;
	right:10px;
}
#page_top a {
	display:block;
	width:119px;
}
#page_top a:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
	text-decoration: none;
}
/*copyright*/
#copyright {
	min-width: 1200px;
	position: relative;
	display: block;
	padding: 15px 0px;
	font-size: 1rem;
	text-align:center;
	width:100%;
	height:auto;
	color: #a4a4a4;
}
