/*@media screen call responsive*/
@media screen and (max-width: 768px) {
.mw100 {
	max-width: 100% !important;
}
.mw40 {
	max-width: 40% !important;
}
.mw20 {
	max-width: 20% !important;
}
.mw60 {
	max-width: 60% !important;
}
.mw80 {
	max-width: 80% !important;
}
.mw85_sp {
	max-width: 85% !important;
}
.fLeft,
.fRight {
	float:none
	}
.inner,
.title_head,
.header_img img,
.f_1 {
	height:auto;
	margin:0px auto 7px auto;
	padding:0 2%;
	text-align:center;
	width:96%;
	min-width:0%;
}
#banner {
	display:none;
}
#mid {
	float:none;
}
.mid_left, .mid_right {
	float:none;
	text-align:center;
	width:100%;
	margin:7px auto;
}
.box_3 .fLeft,
.aside_2 .title_box .fLeft {
	float:left;
}
.box_3 .fRight,
.aside_2 .title_box .fRight {
	float:right;
}
.box_1 p,
.box_2 p {
	text-align:left;
	max-width:100%;
	margin:7px auto;
	display:block;
	float:none;
}
#page_top {
	position:absolute;
	top:-75px;
	font-size:12px;
	right:0px;
	display:block;
}
#page_top a {
	 width:80px;
}
#page_top a:hover {
	opacity:0.6;
}
#footer .f_1,
#footer .f_2,
#footer .f_3 {
	width:96%;
	margin:5px auto;
	display:inline-block;
	float:left;
}
#footer .copyright {
	text-align:center;
	height:auto;
	float:none;
	display:block;
	margin:5px auto;
	padding-bottom:5px;
}
}
