/*@media screen call responsive*/
@media screen and (max-width: 644px) {
#header {
	float:none;
}
.inner,
.header_text ,
#mid .content_l_1 .title_1,
#mid .content_l_1 .img_1,
#mid .content_l_2 .aside_map,
#mid .content_l_3 img,
#footer .f_2 .s_1 img,
#footer .f_2 .s_2 img,
#mid .mid_right ul li a img {
	height:auto;
	margin:0 auto;
	padding:0 1%;
	text-align:center;
	width:98%;
	min-width:0%;
}
#mid .content_l_1 .title_1,
#mid .content_l_1 .img_1,
#mid .content_l_2 .aside_map  {
	width:96%;
}
.header_right {
	margin:7px auto;
}
#banner,
.mean-container .mean-nav .menu_left {
	display:none;
}
#mid {
	float:none;
}
#mid .mid_right img.img_3,
#mid .mid_left,
#mid .mid_right {
	width:100%;
	min-width:0%;
	height:auto;
	float:none;
	text-align:center;
	margin:7px auto;
}
#mid .content_l_1 .title_1 {
	margin:0px auto 20px 17px;
}
#mid .content_l_1 p {
	text-align:left;
	max-width:100%;
	margin:7px auto;
	display:block;
	float:none;
}
#mid .mid_right ul li {
	float:none;
	height:auto;
	margin:0 auto;
	padding:0 1%;
	text-align:center;
	width:98%;
	min-width:0%;
}
#mid .mid_bot {
	float:none;
	text-align:center;
	width:100%;
	margin:7px auto;
}
#mid .mid_bot_1,
#mid .mid_bot_3 {
	float:none;
	margin:10px auto;
}
#mid .mid_bot dl {
	width:auto;
	height:auto;
	padding:0 1%;
	text-align:left;
	width:98%;
	min-width:50%;
}
#mid .mid_bot dl dt {
	float:none;
	margin-bottom:5px;
}
#mid .mid_bot dl dd {
	display:block;
    padding-left: 23px;
	width:auto;
}
#footer {
	float:none;
}
#footer .f_1 ul li {
	margin:5px;
}
#footer .f_1 ul {
	width:100%;
	display:inline-block;
}
#copyright {
	width:100%;
	text-align:center;
	height:auto;
	float:none;
	display:block;
	margin:0px auto;
}
}
