* {
	border:0;
	margin:0px;
	padding:0px;
}
body {
	color: #2e2e2e;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size:12px;
}
a {
	text-decoration:none;
	color:#000;
}
ul {
	list-style:none;
}
.ClearFix::after{
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
#mid .mid_right img:hover,
#mid .content_l_3:hover,
#mid .mid_bot img:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}
/*header*/
#header {
	width:100%;
	margin:17px auto 23px auto;
	height:auto;
	position:relative;
	display:inline-block;
	float:left;
}
.inner {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	min-width:1018px;
	max-width:1018px;
	position:relative;
}
#header .header_text {
	float:right;
}
/*menu*/
#menu {
	width:100%;
	margin:0 auto;
	height:40px;
	position:relative;
	display:inline-block;
	float:left;
}
#menu .menu_left {
	height:40px;
	float:left;
}
#menu ul {
	float:right;
	margin-top:1px;
}
#menu ul li {
	background:url(../images/line_menu.jpg) no-repeat left center;
	float:left;
	width:120px;
	height:40px;
	padding:0px 3px;
}
#menu ul li a {
	width:100%;
	height:15px;
	text-align:center;
	display:block;
}
#menu ul li a.menu_1:hover,
#menu ul li a.menu_2:hover,
#menu ul li a.menu_3:hover,
#menu ul li a.menu_4:hover,
#menu ul li a.menu_5:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}
/*banner*/
#banner {
	height:100%;
	margin-top:30px;
	width:100%;
	float:left;
}
#banner .img_banner {
	width:100%;
	height:412px;
}
/*content mid*/
#mid {
	margin-top:35px;
	width:100%;
	height:auto;
	display:inline-block;
	float:left;
}
/*content mid left*/
.mid_left {
	margin-right:13px;
	width:330px;
	min-width:330px;
	max-width:330px;
	height:590px;
	text-align:left;
	float:left;
}
#mid .content_l_1,
#mid .content_l_2 {
	max-width:304px;
	padding:17px 13px;
	margin-bottom:17px;
	background:#f8f8f8;
}
#mid .content_l_1 .img_1,
#mid .content_l_1 p {
	text-align:left;
	width:304px;
}
#mid .content_l_1 .img_1 {
	width:304px;
	max-width:304px;
	min-width:304px;
	height:98px;
}
#mid .content_l_1 .title_1 {
	width:287px;
	max-width:287px;
	min-width:287px;
	height:19px;
	margin:0px 0px 20px 17px;
}
#mid .content_l_1 p {
	max-width:304px;
}
#mid .content_l_1 .text img {
	padding-right:2px;
}
#mid .content_l_2 .aside_map {
	width:304px;
	max-width:304px;
	min-width:304px;
	height:181;
}
#mid .content_l_2 .l_2_text {
	margin-top:13px;
	max-width:304px;
	height:50px;
}
#mid .content_l_2 .l_2_text .p_l {
	font-weight:bold;
	float:left;
}
#mid .content_l_2 .l_2_text .p_r {
	float:right;
}
#mid .content_l_3 {
	height:85px;
	background:#f8f8f8;
}
#mid .content_l_3 img {
	width:330px;
	max-width:330px;
	min-width:330px;
	height:85px;
}
/*content mid right*/
.mid_right {
	width:675px;
	min-width:675px;
	max-width:675px;
	display:inline-block;
	height:auto;
	float:right;
}
#mid img.img_3 {
	width:100%;
	height:185px;
	max-width:675px;
	min-width:675px;
	margin-bottom:7px;
}
#mid .mid_right ul {
	margin-top:5px;
	max-width:675px;
	height:390px;
	display:inline-block;
}
#mid .mid_right ul li {
	margin-top:10px;
	width:330px;
	height:185px;
	float:left;
}
#mid .mid_right ul li a {
	width:100%;
	height:185px;
	display:block;
}
#mid .mid_right ul li a img {
	width:330px;
	height:185px;
	max-width:330px;
	min-width:330px;
}
#mid .mid_right ul li.img_li {
		margin-right:13px;
}
/*mid bottom*/
#mid .mid_bot {
	width:100%;
	margin:17px auto 85px auto;
	height:auto;
	position:relative;
	display:inline-block;
	float:left;
}
#mid .mid_bot_1 img {
	height:100%;
}
#mid .mid_bot_1 {
	height:180px;
	float:left;
}
#mid .mid_bot_2 {
	padding:24px 20px 11px 15px;
	background:#f8f8f8;
	max-width:615px;
	height:auto;
	float:left;
}
#mid dl dt {
	background:url(../images/bullet.png) no-repeat left;
	margin-left:7px;
	padding-left:15px;
	float:left;
	text-align: left;
}
#mid dl dd {
	width:490px;
	background:url(../images/line_index.png) repeat-x left bottom;
	padding:0px 0px 7px 128px;
	margin-bottom:4px;
	text-align: left;
}
#mid .mid_bot_3 {
	float:right;
}
/*page top*/
#page_top {
	width:100%;
	padding-top:35px;
	display:inline-block;
	float:left;
	height:18px;
	background:#f8f8f8;
	font-size:12px;
	text-align:center;
}
#page_top .inner a {
	 background:#ffffff;
	 display:block;
	 color:#3f352b;
}
#page_top a:hover {
	font-size:16px;
	text-decoration: none;
}
/*footer*/
#footer {
	margin:0 auto;
	padding:0px;
	width:100%;
	height:auto;
	display:inline-block;
	float:left;
	position:relative;
	background:#f8f8f8;
}
/*menu 1*/
#footer .f_1 {
	width:100%;
	display:inline-block;
	height:auto;
	padding:30px 0px;
}
#footer .f_1 ul {
	height:auto;
	margin:0 auto;;
	max-width:550px;
}
#footer .f_1 ul li {
	padding-bottom:15px;
	float:left;
}
#footer .f_1 ul li a {
	padding-right:18px;
}
#footer .f_1 ul li a:hover {
	text-decoration:underline;
}
#footer .f_1 ul li.li_text {
	margin-left:30px;
}
/*menu 2*/
#footer .f_2 {
	padding:33px 0px;
	background:#ffffff;
}
#footer .f_2 span {
	float:left;
}
#footer .f_2 .s_1 img {
	width:269px;
	height:27px;
	max-width:269px;
	min-width:269px;
}
#footer .f_2 .s_1 {
	margin-left:30px;
}
#footer .f_2 .s_2 {
	margin:0px 60px;
}
#footer .f_2 .s_2 img {
	width:225px;
	height:23px;
	max-width:225px;
	min-width:225px;
}
#copyright {
	width:100%;
	height:65px;
	background:#f8f8f8;
	display:inline-block;
	float:left;
	color:#41342c;
	text-align:center;
}
#copyright p {
	padding-top:33px;
}