* {
	margin:0px;
	padding:0px;
}
body {
	font-family:Arial;
	font-size:0.710em;
	color: #787683;
	background: #000;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
#main-left .a-1 {
	text-decoration: underline;
	color: #757575;
}
#main {
	width: 750px;
	margin: 20px 0px 0px 100px;
}
#main-left {
	padding: 0px 20px 50px 0px;
	float: left;
	width: 450px;
}
#main-right {
	background:  #232326;
	float: left;
	width: 250px;
	height: 390px;
}
.title {
	padding-bottom: 20px;
}
#post-1 {
	margin-bottom: 100px;
}
#post-1 .post-content-1 {
	padding: 1px;
	margin-bottom: 10px;
}
#post-1 .img-cont-1 {
	float: left;
	width: 160px;
	height: 120px;
}
#post-1 .content-right {
	line-height: 15px;
	padding-left: 20px;
	width: 220px;
	padding-right: 40px;
	float: left;
}
.line {
	padding-top: 20px;
	border-bottom: 1px dotted #787683;
	margin-bottom: 20px;
}
.img-info {
	padding-right: 5px;	
}
#post-2 .content-pc {
	margin-bottom: 50px;
}
#post-2 .content-2-left {
	float: left;
	width: 225px;
}
#post-2 .content-2-right {
	padding-right: 30px;
	float: lef
	width: 235px;
}
#post-2 li {
	line-height: 25px;
}
#post-2 ul {
	list-style: none;
}
#post-2 .img-li {
	padding-right: 5px;
}
#post-3 {
	line-height: 12px;
	margin: 25px;
}
#post-3 .post-3-line {
	margin-top: 80px;
	border-top: 1px solid #787683;
	padding-bottom: 20px;
}
#post-3 .a-1 {
	margin-bottom: 5px;
}