* {
	margin:0px;
	padding:0px;
}
body {
	color: #fffffd;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	background:url(../images/bg.jpg);
	background-size:100% 100%;
	font-size:13px;
}
a {
	text-decoration:none;
	color:#000;
}
ul {
	list-style:none;
}
/*header*/
#header {
	width:100%;
	margin:0 auto;
	height:168px;
	position:relative;
	display:inline-block;
	float:left;
}
.inner {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	min-width:1030px;
	max-width:1030px;
	position:relative;
}
.header_left {
	background:url(../images/bg_logo_head.jpg) no-repeat center center;
	float:left;
}
.header_right {
	text-align:right;
	float:right; 
}
#header .header_right_text {
	margin-bottom:30px;
	color:#feb500;
}
#header .img_text_head {
	margin-bottom:18px;
}
#header .phone_header {
	margin-bottom:20px;
}
/*nav*/
#nav {
	width:100%;
	margin:0 auto;
	height:405px;
	position:relative;
	display:inline-block;
	float:left;
}
#nav .inner {
	height:100%;
}
/*menu*/
.menu {
	width:100%;
	margin:0px;
	float:left;
	min-width:295px;
	max-width:295px;
}
.menu ul {
	margin-top:1px;
	width:100%;
	display:inline-block;
	height:auto;
}
.menu ul li {
	width:80px;
	height:15px;
	padding:0px 3px;
	margin:0px auto 40px 73px;
}
.menu ul li.menu_1 {
	margin-top:33px;
}
.menu ul li a {
	width:100%;
	height:15px;
	text-align:center;
	display:block;
}
.menu ul li.menu_7 {
	margin-bottom:25px;
}
.menu ul li a.menu_1:hover img,
.menu ul li.menu_1 a.active img,
.menu ul li a.menu_2:hover img,
.menu ul li a.menu_3:hover img,
.menu ul li a.menu_4:hover img,
.menu ul li a.menu_5:hover img,
.menu ul li a.menu_6:hover img,
.menu ul li a.menu_7:hover img {
	display:none;
}
.menu ul li a.menu_1:hover,
.menu ul li.menu_1 a.active {
	background:url(../images/menu_1_hover.png) no-repeat center center;
}
.menu ul li a.menu_2:hover {
	background:url(../images/menu_2_hover.png) no-repeat center center;
}
.menu ul li a.menu_3:hover {
	background:url(../images/menu_3_hover.png) no-repeat center center;
}
.menu ul li a.menu_4:hover {
	background:url(../images/menu_4_hover.png) no-repeat center center;
}
.menu ul li a.menu_5:hover {
	background:url(../images/menu_5_hover.png) no-repeat center center;
}
.menu ul li a.menu_6:hover {
	background:url(../images/menu_6_hover.png) no-repeat center center;
}
.menu ul li a.menu_7:hover {
	background:url(../images/menu_7_hover.png) no-repeat center center;
}
/*banner*/
#banner {
	height:100%;
	margin:0px;
	width:735px;
	float:left;
}
#banner .img_banner {
	width:100%;
	height:404px;
}
/*content mid*/
#mid {
	margin-top:38px;
	width:100%;
	height:auto;
	display:inline-block;
	float:left;
}
/*content mid left*/
.mid_left {
	margin:0px 43px 0px 73px;
	width:179px;
	min-width:179px;
	max-width:179px;
	height:auto;
	text-align:left;
	float:left;
}
#mid .text_l_1 {
	margin-bottom:20px;
	font-weight:bold;
	color:#713101;
}
#mid .text_l_2 {
	margin-bottom:20px;
	color:#4b2d13;
}
#mid .phone_aside {
	margin-bottom:12px;
}
#mid .open_aside {
	margin-bottom:22px;
}
#mid .aside_map {
	width:175px;
	height:175px;
	margin:5px 0px 5px 0px;
	margin-bottom:12px;
}
#mid .text_aside_map {
	margin-bottom:47px;
}
#mid .text_ameba {
	font-size:11px;
	color:#4c2c15;
	margin:15px 0px 20px 0px;
}
#mid .code {
	margin:38px 0px 15px 0px;
}
#mid .text_code {
	margin:0px 0px 35px 15px;
}
#mid .open_aside:hover,
#mid .ameba:hover,
#mid .code:hover,
#mid .img_button:hover {
	opacity:0.6;/*opacity: crystal(độ trong suốt)*/
	filter:alpha(opacity=60);
}
/*content mid right*/
.mid_right {
	width:735px;
	height:auto;
	float:left;
}
#mid .content_r_1 {
	width:100%;
	height:auto;
	display:inline-block;
	margin-bottom:35px;
}
#mid .box_1 {
	background:url(../images/bg_box.jpg) no-repeat;
	width:187px;
	height:auto;
	padding:23px 17px 10px 17px;
	float:left;
	vertical-align:top;
	background-size:100% 100%;
}
#mid .img_1 {
	margin:17px 0px 17px 0px;
	width:100%;
}
#mid .box_1 .img_1,
#mid .box_1 .img_button_1 {
	width:100%;
}
#mid .box_1 p {
	font-size:12px;
	margin:0px 0px 14px 0px;
	height:52px
}
#mid .box_2 {
	margin:0px 35px 0px 35px;
}
#mid .content_r_2 {
	width:100%;
	height:auto;
	display:inline-block;
	position:relative;
	background:url(../images/bg_img_4.jpg) no-repeat;
	background-size:100% 100%;
	vertical-align:top;
	margin-bottom:35px;
}
.row {
	margin:23px 0px 0px 17px;
}
#mid .title_4 {
	background:none;
	display:block;	
}
#mid .img_4 {
	margin:20px 17px 17px 0px;
	width:188px;
	height:151px;
	float:left;
}
#mid .text_img_4 {
	width:100%;
	margin:20px 0px 25px 0px;
	max-width:256px;
	float:left;
}
#mid .img_button_4 {
	float:right;
}
#mid .content_r_2 p img {
	margin-top:25px;
}
#mid .img_button_4 {
	width:190px;
	margin:135px 17px 0px 0px;
}
#mid .content_r_3 {
	width:100%;
	height:auto;
	display:inline-block;
	position:relative;
	vertical-align:top;
}
#mid .content_r_3_l {
	height:227px;
	float:left;
	background:url(../images/bg_img_5-6.jpg) no-repeat;
	background-size:100% 100%;
	width:345px;
	margin-right:20px;
}
#mid .title_5 {
	margin-right:110px;
}
#mid dl.index {
	margin-top:20px;
	height:auto;
	width:100%;
	text-align:left;
	display:inline-block;
}
#mid dl.index dt {
	margin-right:10px;
	float:left;
	text-align:left;
}
#mid dl.index dd {
	margin-bottom:20px;
	padding-bottom:13px;
	border-bottom:1px solid #f87200;
	text-align:left;
}
#mid .content_r_3_r {
	height:227px;
	float:right;
	background:url(../images/bg_img_5-6.jpg) no-repeat;
	background-size:100% 100%;
	width:345px;
	margin-left:20px;
}
#mid .r_1 {
	margin:20px 0px 10px 0px;	
}
#mid .r_2 {
	margin-bottom:17px;	
}
#mid .r_1, .r_2 {
	width:100%;
	display:inline-block;
}
#mid .r_1 img, .r_2 img {
	margin-right:17px;
	width:89px;
	height:64px;
	float:left;
}
#mid .r_1 p, .r_2 p {
	display:block;
	text-align:left;
	float:left;
}
#mid .r_1 a, .r_2 a {
	margin-right:17px;
	float:right;
	text-align:right;
}
#mid .img_button_1:hover,
#mid .img_button_4:hover,
#mid .img_button_5:hover,
#mid .img_button_6:hover {
	opacity:0.6;/*opacity: crystal(độ trong suốt)*/
	filter:alpha(opacity=60);
}
/*page top*/
#page_top {
	position:fixed;
	bottom:325px;
	left:50%;
	font-size:12px;
	display:block;
}
#page_top a {
	 display:block;
	 color:#703201;
	 width:80px;
}
#page_top a:hover {
	font-size:16px;
	text-decoration: none;
}
/*footer*/
#footer {
	width:100%;
	height:auto;
	display:inline-block;
	float:left;
	margin-top:150px;
	position:relative;
}
/*menu 1*/
#footer .f_1 {
	width:295px;
	height:288px;
	float:left;
}
/*menu 2*/
#footer .f_2 {
	text-align:center;
	background:#dc6d01;
	width:163px;
	max-width:163px;
	height:auto;
	float:left;
}
#footer .f_2 ul, #footer .f_3 ul {
	padding-top:30px;
}
#footer .f_2 ul li, #footer .f_3 ul li {
	width:100%;
	height:21px;
	margin-bottom:25px;
}
#footer .f_2 ul li a, #footer .f_3 ul li a {
	color:#fffeff;
	font-size:14px;
}
#footer .f_2 ul li a:hover, #footer .f_3 ul li a:hover {
	text-decoration:underline;
}
/*menu 3*/
#footer .f_3 {
	text-align:center;
	background:#dc6d01;
	margin-left:23px;
	width:163px;
	max-width:163px;
	height:auto;
	float:left;
}
/*menu 4*/
#footer .f_4 {
	width:222px;
	max-width:222px;
	height:auto;
	float:right;
}
#footer .f_4 p {
	margin:26px 0px 13px 0px;
	color:#703201;
	text-align:right;
}
#footer .copyright {
	display:inline-block;
	color:#703201;
	text-align:center;
	margin:100px 0px 17px 10px;
	font-weight:bold;
}