/*@media screen call responsive*/
@media screen and (max-width: 768px) {
.mw100 {
	width: 100%;
}
.fLeft,
.fRight {
	float:none
}
body  {
	-webkit-text-size-adjust:100%
	font-size:13px;
	background:#dcddc1;
}
#header,
#mid,
#banner,
#footer,
.title {
	height:auto;
	margin:0 auto;
	padding:0 1%;
	text-align:center;
	width:98%;
	min-width:0;
}
.inner {
	height:auto;
	margin:0 auto;
	text-align:center;
	width:98%;
	min-width:0;
}
#menu_box {
	height:auto;
	width:100%;
	padding:0;
}
#menu_box ul li {
	height:auto;
	margin:0 auto;
	text-align:center;
	width:98%;
	min-width:0;
	float:none;
	display:inline-block;
}
.box_1 {
	height:auto;
}
.title_1 {
	margin:0px;
}
.img_4 {
	margin:0px;
	width:50%;
	float:left;
}
.box_1 .text {
	margin:40px 20px auto 0px;
	float:right;
	width:38%;
}
#mid {
	float:none;
}
#mid .mid_left,
#mid .mid_right {
	padding:0px;
	width:100%;
	float:none;
	margin:7px auto;
	display:inline-block;
}
#mid .content_l1_text {
	text-align:left;
	max-width:95%;
	margin:7px auto;
	display:block;
	float:none;
	padding-right:5px;
}
#mid dl dt {
	float:left;
	margin-bottom:5px;
}
#mid dl dd {
	display:block;
    padding-left: 95px;
	width:auto;
}
#mid .mid_right {
	float:none;
	margin:25px auto;
}
.img_11 {
	height:100px;
	margin-left:12px;
	text-align:center;
	width:90%;
	min-width:0;
}
.img_13 {
	margin-left:10px;
	float:left;
}
#footer ul {
	padding-bottom:20px;
	width:100%;
	display:inline-block;
}
#footer ul li {
	width:100%;
	display:inline-block;
	padding-bottom:5px;
}
#copyright {
	padding:10px 0px;
}
#copyright .text-right {
	margin-top:-65px;
}
}
