* {
	margin:0px;
	padding:0px;
}
body {
	color: #73523f;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size:13px;
	background:#fff;
}
a {
	text-decoration:none;
	color:#000;
}
ul {
	list-style:none;
}
/*header*/
#header {
	border-top:4px solid #f0831e;
	width:100%;
	margin:0 auto;
	height:auto;
	position:relative;
	display:inline-block;
	float:left;
}
.inner {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	min-width:960px;
	max-width:960px;
	position:relative;
}
.header_text {
	font-size:12px;
	margin:10px 0px 10px 0px;
}
.header_left {
	margin-top:10px;
	float:left;
}
.header_right {
	margin:10px 0px 10px 0px;
	text-align:right;
	float:right; 
}
.header_right_text {
	color:#f0831e;
}
/*menu*/
#menu {
	background: url(../images/bg_menu.jpg);
	width:100%;
	height:55px;
	display:inline-block;
	float:left;
	margin-top:15px;
}
.menu_content {
	width:100%;
	height:55px;
	margin:0 auto;
	min-width:973px;
	max-width:973px;
	display:block;
}
#menu ul {
	background:url(../images/line_menu.jpg) no-repeat right center;
	margin-top:1px;
	width:100%;
	display:inline-block;
	height:53px;
	list-style:none;
}
#menu ul li {
	width:133px;
	height:53px;
	background:url(../images/line_menu.jpg) no-repeat left center;
	float:left;
	padding:0px 3px;
}
#menu ul li a {
	width:100%;
	height:53px;
	text-align:center;
	display:block;
}
#menu ul li a.menu_1:hover img,
#menu ul li.menu_1 a.active img,
#menu ul li a.menu_2:hover img,
#menu ul li a.menu_3:hover img,
#menu ul li a.menu_4:hover img,
#menu ul li a.menu_5:hover img,
#menu ul li a.menu_6:hover img,
#menu ul li a.menu_7:hover img {
	display:none;
}
#menu ul li a.menu_1:hover,
#menu ul li.menu_1 a.active {
	background:url(../images/menu_1_hover.jpg) no-repeat center center;
}
#menu ul li a.menu_2:hover {
	background:url(../images/menu_2_hover.jpg) no-repeat center center;
}
#menu ul li a.menu_3:hover {
	background:url(../images/menu_3_hover.jpg) no-repeat center center;
}
#menu ul li a.menu_4:hover {
	background:url(../images/menu_4_hover.jpg) no-repeat center center;
}
#menu ul li a.menu_5:hover {
	background:url(../images/menu_5_hover.jpg) no-repeat center center;
}
#menu ul li a.menu_6:hover {
	background:url(../images/menu_6_hover.jpg) no-repeat center center;
}
#menu ul li a.menu_7:hover {
	background:url(../images/menu_7_hover.jpg) no-repeat center center;
}
#menu li.menu_3 ul.subMenu,
#menu li.menu_4 ul.subMenu {
	display:none;
}
#menu li.menu_3:hover ul.subMenu,
#menu li.menu_4:hover ul.subMenu {
	background:none repeat scroll 0 0 #ffc472;
	display:block;
	height:auto;
	position:absolute;
	width:141px;
	margin-left:-3px;
	z-index:999;
}
#menu ul.subMenu li.subMenu {
	width:100%;
	height:21px;
	background:none;
	text-align:center;
	border-bottom:1px solid #d19c5d;
	padding:10px 0px 10px 0px;
}
#menu ul.subMenu li.subMenu a {
	text-decoration:none;
	width:100%;
	height:21px;
	color:#000;
}
#menu ul.subMenu li.subMenu:hover {
	background:url(../images/bg_menu_sub.jpg) no-repeat center center;
}
#menu ul.subMenu li.subMenu a:hover {
	color:#FFF;
}
/*banner*/
#banner {
	width:100%;
	height:395px;
	margin:0 auto;
	display:inline-block;
	float:left;
	background:url(../images/bg_banner.jpg);
	z-index:200;
}
#slide {
	width:100%;
	height:380px;
	min-width:960px;
	max-width:960px;
	margin:0 auto;
	display:block;
	position:relative;
}
#slide img {
	position:absolute;
}
/*content mid*/
#mid {
	z-index:200;
	width:100%;
	height:auto;
	display:inline-block;
	float:left;
}
/*content mid left*/
.mid_left {
	margin-top:25px;
	width:702px;
	height:auto;
	float:left
}
#mid .title_1 {
	text-align:left;
	display:inline-block;
	width:100%;
	height:7px;
	margin:20px 0px 15px 0px;
	padding-bottom:22px;
	background:url(../images/line_title.jpg) no-repeat left bottom;
}
#mid .title_1 img {
	margin-left:10px;
}
#mid .img_1 {
	float:left;
}
#mid .content_l1_text {
	float:right;
	text-align:left;
	max-width:417px;
	width:100%;
	margin-bottom:20px;
}
#mid .content_l1_text p {
	display:inline-block;
	margin-bottom:23px;
}
#mid .content_l1_text p strong {
	font-weight:bold;
}
#mid .box_1 {
	width:218px;
	height:auto;
	margin:1px;
	border:1px solid #d9d9d9;
	float:left;
	vertical-align:top;
}
#mid .box_1 p {
	margin:5px 10px 5px 10px;
	height:115px
}
#mid .box_1 a {
	margin-left:10px;
}
#mid .box_2 {
	margin:0px 15px 0px 15px;
}
#mid .title_3 {
	margin:40px 0px 15px 0px;;
}
#mid .text_left {
	background:url(../images/bullet_1.jpg) no-repeat left;
	margin-left:7px;
	padding-left:15px;
	float:left;
	text-align: left;
}
#mid .text_right {
	padding:0px 0px 15px 128px;
	background:url(../images/bg_index_dl.jpg) repeat-x left bottom;
	margin-bottom:15px;
	text-align: left;
}
/*content mid right*/
.mid_right {
	width:230px;
	height:auto;
	float:right;
	margin-top:25px;
}
#mid .content_r_2 {
	margin:20px 0px;
	width:220px;
	border:1px solid #e9dfd9;
	border-radius:3px;
	padding:4px;
}
#mid .content_r_2_1 {
	text-align:left;
	padding:10px;
	border:1px solid #e9dfd9;
	border-radius:3px;
}
#mid .content_r_2_1 ul {
	list-style:none;
}
#mid .img_li {
	font-size:14px;
	width:178px;
	padding-left:15px;
	margin:10px 0px 5px 0px;
	background:url(../images/aside_bullet_1.jpg) no-repeat left center;
	margin-left:10px;
	border-bottom:1px solid #e9dfd9;
}
#mid ul li {
	font-size:12px;
	width:178px;
	padding-left:15px;
	margin:2px 0px 2px 20px;
	background:url(../images/aside_bullet_2.jpg) no-repeat left center;
}
#mid ul li a:hover {
	text-decoration:underline;
}
#mid .aside_img_2 {
	margin-top:3px;
}
#mid .aside_img_2:hover,
#mid .aside_img_3:hover,
#mid .aside_button:hover,
#mid .img_button:hover {
	opacity:0.6;/*opacity: crystal(độ trong suốt)*/
	filter:alpha(opacity=60);
}
#mid .content_r_3 {
	border:4px solid #e9dfd9;
	border-radius:3px;
	padding:15px 15px 10px 15px;
	font-size:12px;
}
#mid .aside_text_1 {
	margin:10px 0px 10px 0px;
}
#mid .aside_map {
	width:189px;
	height:130px;
	margin:5px 0px 5px 0px;
}
#mid .aside_button {
	margin-top:5px;
}
/*footer*/
#footer {
	width:100%;
	height:auto;
	display:block;
	float:left;
	background:url(../images/footer_bg.jpg);
	margin-top:50px;
	padding-bottom:30px;
	position:relative;
}
/*menu 1*/
#footer .f_1 {
	float:left;
	width:100%;
	max-width:350px;
	min-width:350px;
	height:204px;
	font-size:12px;
	margin-top:30px;
}
#footer .f_1_text {
	margin:8px 0px 10px 0px;
}
/*menu 2*/
#footer .f_2 {
	width:100%;
	max-width:300px;
	height:auto;
	float:left;
	margin:30px 0px 0px 40px;
	padding:20px 0px 20px 30px;
	border:1px solid #e9dfd9;
	text-align:left;
}
#footer .f_2 ul {
	list-style:none;
	float:left;
	width:150px;
}
#footer .f_2 ul li {
	width:100%;
	height:21px;
	margin:3px 0px 3px 0px;
}
#footer .f_2 ul li a {
	color:#525260;
	padding-left:20px;
	font-size:14px;
	background:url(../images/footer_bullet.png) no-repeat left center;
}
#footer .f_2 ul li a:hover {
	text-decoration:underline;
}
/*menu 3*/
#footer .f_3 {
	width:178px;
	height:auto;
	float:left;
	margin:30px 0px 0px 20px;
	padding:10px 0px 7px 20px;
	background:url(../images/footer_bg_r.png);
	text-align:left;
}
#footer .f_3 ul li.img_li {
	font-size:14px;
	width:178px;
	margin:3px 0px 3px 0px;
	background:url(../images/aside_bullet_1.jpg) no-repeat left center;
}
#footer .f_3 ul li.img_li a {
	padding-left:17px;
	font-size:16px;
}
#footer .f_3 ul li {
	margin:1.5px 0px 1.5px 8px;
	background:url(../images/footer_bullet.png) no-repeat left center;
}
#footer .f_3 ul li a {
	color:#525260;
	padding-left:20px;
	font-size:14px;
}
#footer .f_3 ul li a:hover {
	text-decoration:underline;
}
/*page top*/
#page_top {
	position:fixed;
	bottom:20px;
	font-size:12px;
	right:20px;
	display:block;
}
#page_top a {
	 border-radius: 5px;
	 background:#f0831e;
	 display:block;
	 color:#FFF;
	 text-align:center;
	 padding:15px 0px;
	 width:80px;
}
#page_top a:hover {
	background: #ffb452;
	text-decoration: none;
}
/*copyright*/
#copyright {
	text-align:center;
	font-weight:bold;
	background:#f88e01;
	padding:8px 0px 3px 0px;
	width:100%;
	height:20px;
	float:left;
	display:inline-block;
	color:#FFF;
	font-size:11px;
}