* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Arial;
	background: #292728;
	color: #000;
	font-size: 12px;
	line-height: 20px;
}
.a-1 {
	text-decoration: none;
	color: #000;
}
a {
	text-decoration: none;
	color: #277CCB;
}
#mid {
	height: 730px;
	margin-bottom: 20px;
}
#main-left {
	margin: 20px 0px 0px 5px;
	float: left;
	width: 761px;
}
#post-1 {
	float: left;
}
#post-1 .post-1-title {
	padding-left: 10px;
	font-size: 14px;
	background-image: url('images/h2-confidential-heading-bg.gif');
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px dotted #000;
}
#post-1 .post-content-1 {
	border-top: 1px dotted #000;
	border-right: 1px dotted #000;
	width: 380px;
	height: 272px;
	background: #FFFFFF;
}
.post-content-img {
	width: 360px;
	padding: 5px 10px 5px 10px;
}
.post-more {
	margin: 0px 0px 10px 10px;
}
.post-more p {
	font-weight: bold;
	margin: -35px 0px 0px 301px;
}
.img-show {
	width: 360px;
}
.post-text {
	padding: 0px 10px 0px 10px;
}
#post-2 {
	float: left;
}
#post-2 .post-2-title {
	padding-left: 10px;
	font-size: 14px;
	background-image: url('images/h2-confidential-heading-bg.gif');
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
}
#post-2 .post-content-2 {
	border-top: 1px dotted #000;
	width: 380px;
	height: 272px;
	background: #FFFFFF;
}
#bot {
	background: #FFFFFF;
}
#bot .img-bot {
	margin-bottom: -6px;
	width: 550px;
	padding: 20px 0px 0px 10px;
}
#post-3 {
	float: left;
	width:370px;
	margin-top: 20px;
}
#post-3 .post-3-title, #post-4 .post-4-title {
	padding-left: 10px;
	font-size: 14px;
	background-image: url('images/h2-top-movie-trailers-bg.gif');
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px dotted #000;
}
#post-3 .title, #post-4 .title {
	height: 28px;
	background-image: url('images/h3-movie-trailers-bg.gif');
	background-repeat: repeat-x;
}
#post-3 .title .left {
	padding-left:10px;
	float: left;
}
#post-3 .title .right {
	padding-right: 10px;
	float: right;
}
#post-3 .post-3-cont-2 {
	background: #FFFFFF;
	height: 90px;
}
#post-3 .post-3-content {
	padding: 7px ;
}
#post-3 .post-3-content .left {
	float: left;
}
#post-3 .post-3-content .right {
	padding-left: 10px;
	float: left;
}
#post-3 .img-bunny {
	width: 120px;
	height: 70px;
}
#post-3 .text-content {
	line-height: 17px;
	width: 220px;
}
#post-3 .watch, #post-4 .view {
	background-image: url('images/watch-trailer.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-left: -3px;
}
#post-3 .post-3-cont-3 .title {
	border-top: 1px solid #C0C0C0;
	border-bottom: 0.5px solid #C0C0C0;
}
#post-3 .post-3-cont-4 .title {
	border-bottom: 1px dotted #000;
}
#post-3 .post-3-cont-5 {
	padding: 5px 0px 0px 10px;
	background: #FFFFFF;
	height: 28px;
}
#post-3 .post-3-cont-5 .right {
	float: left;
}
#post-3 .post-3-cont-5 .left {
	background-image: url('images/now-showing-icon.gif');
	background-repeat: no-repeat;
	padding-left: 25px;
	float: left
}
#post-4 {
	float: right;
	width:350px;
	margin: 20px 0px 0px 20px;
}
#post-4 .title .left {
	padding-left:10px;
	float: left;
}
#post-4 .title .right {
	padding-right: 10px;
	float: right;
}
#post-4 .post-4-cont-2, #post-4 .post-4-cont-4 {
	background: #FFFFFF;
}
#post-4 .post-4-content {
	padding: 7px;
}
#post-4 .post-4-content .left {
	float: left;
}
#post-4 .post-4-content .right {
	padding-left: 10px;
	float: left;
}
#post-4 .text-content {
	line-height: 17px;
	width: 200px;
}
.line {
	margin-top: 100px;
	border-bottom: 1px dotted #C0C0C0;
}
#post-4 .post-4-cont-5 {
	background: #FFFFFF;
	height: 22px;
}
#post-4 .post-4-cont-5 .right {
	padding-right: 10px;
	float: right;
}
#post-4 .post-4-cont-5 .left {
	background-image: url('images/clock.gif');
	background-repeat: no-repeat;
	padding-left: 25px;
	float: left
}
#main-right {
	margin: 40px 0px 0px 40px;
	width: 280px;
	float: left;
}
#main-right .button {
	width: 80px;
	background: #A20492;
	color: #FFFFFF;
	border: none;
}
#menu {
	height: 70px;
	border-top: 1px dotted #FFFFFF;
}
#menu .menu-img {
	padding-top: 7px;
	margin: 10px 20px 0px 110px;
	float: left;
	color: #FFFFFF;
	text-align: center;
}
#footer {
	color: #000;
	text-align: center;
	line-height: 20px;
	padding-top: 10px;
	margin-top: 25px;
	background: #FFFFFF;
}
#footer .footer-left {
	padding: 0px 100px 0px 200px;
	float: left;
}
#footer .footer-right {
	padding: 0px 20px 0px 100px;
	float: right;
}